In [2]:
import pandas as pd

#load data
umsatz= pd.read_csv(r"C:\Users\julia\Documents\Uni_lokal\ML\umsatzdaten_gekuerzt.csv", sep=",")
wetter= pd.read_csv(r"C:\Users\julia\Documents\Uni_lokal\ML\wetter.csv", sep=",")
test= pd.read_csv(r"C:\Users\julia\Documents\Uni_lokal\ML\test.csv", sep=",")
kiwo= pd.read_csv(r"C:\Users\julia\Documents\Uni_lokal\ML\kiwo.csv", sep=",")

#combine umsatz and test --> greatest time span
total_time = umsatz.merge(test, on="Datum", how="outer")

print(total_time.head())

# add additional information (wetter, kiwo)
total_time = total_time.merge(wetter, on="Datum", how="left")
total_time = total_time.merge(kiwo, on="Datum", how="left")

print(total_time.head())

        id_x       Datum  Warengruppe_x      Umsatz  id_y  Warengruppe_y
0  1307011.0  2013-07-01            1.0  148.828353   NaN            NaN
1  1307012.0  2013-07-01            2.0  535.856285   NaN            NaN
2  1307013.0  2013-07-01            3.0  201.198426   NaN            NaN
3  1307014.0  2013-07-01            4.0   65.890169   NaN            NaN
4  1307015.0  2013-07-01            5.0  317.475875   NaN            NaN
        id_x       Datum  Warengruppe_x      Umsatz  id_y  Warengruppe_y  \
0  1307011.0  2013-07-01            1.0  148.828353   NaN            NaN
1  1307012.0  2013-07-01            2.0  535.856285   NaN            NaN
2  1307013.0  2013-07-01            3.0  201.198426   NaN            NaN
3  1307014.0  2013-07-01            4.0   65.890169   NaN            NaN
4  1307015.0  2013-07-01            5.0  317.475875   NaN            NaN

   Bewoelkung  Temperatur  Windgeschwindigkeit  Wettercode  KielerWoche
0         6.0     17.8375                 15.0        20.0          NaN
1         6.0     17.8375                 15.0        20.0          NaN
2         6.0     17.8375                 15.0        20.0          NaN
3         6.0     17.8375                 15.0        20.0          NaN
4         6.0     17.8375                 15.0        20.0          NaN

In [3]:
#make NaN values -999
total_time = total_time.fillna(-999)

print(total_time.head())
#total_time.to_csv(r"C:\Users\julia\Documents\Uni_lokal\ML\exported\total_time.csv", sep = ";")

        id_x       Datum  Warengruppe_x      Umsatz   id_y  Warengruppe_y  \
0  1307011.0  2013-07-01            1.0  148.828353 -999.0         -999.0
1  1307012.0  2013-07-01            2.0  535.856285 -999.0         -999.0
2  1307013.0  2013-07-01            3.0  201.198426 -999.0         -999.0
3  1307014.0  2013-07-01            4.0   65.890169 -999.0         -999.0
4  1307015.0  2013-07-01            5.0  317.475875 -999.0         -999.0

   Bewoelkung  Temperatur  Windgeschwindigkeit  Wettercode  KielerWoche
0         6.0     17.8375                 15.0        20.0       -999.0
1         6.0     17.8375                 15.0        20.0       -999.0
2         6.0     17.8375                 15.0        20.0       -999.0
3         6.0     17.8375                 15.0        20.0       -999.0
4         6.0     17.8375                 15.0        20.0       -999.0

In [4]:
#combine column waxengruppe_x and warengruppe_y into one column
total_time['Warengruppe'] = total_time['Warengruppe_x'].where(
    total_time['Warengruppe_x'] != -999, 
    total_time['Warengruppe_y']
)

# Drop the old columns from the SAME DataFrame
total_time = total_time.drop(columns=['Warengruppe_x', 'Warengruppe_y'])

# Print the result
print(total_time.head())
#test_id.to_csv(r"C:\Users\julia\Documents\Uni_lokal\ML\exported\test_id_2.csv")

        id_x       Datum      Umsatz   id_y  Bewoelkung  Temperatur  \
0  1307011.0  2013-07-01  148.828353 -999.0         6.0     17.8375
1  1307012.0  2013-07-01  535.856285 -999.0         6.0     17.8375
2  1307013.0  2013-07-01  201.198426 -999.0         6.0     17.8375
3  1307014.0  2013-07-01   65.890169 -999.0         6.0     17.8375
4  1307015.0  2013-07-01  317.475875 -999.0         6.0     17.8375

   Windgeschwindigkeit  Wettercode  KielerWoche  Warengruppe
0                 15.0        20.0       -999.0          1.0
1                 15.0        20.0       -999.0          2.0
2                 15.0        20.0       -999.0          3.0
3                 15.0        20.0       -999.0          4.0
4                 15.0        20.0       -999.0          5.0

In [5]:
# set an index column with values of id_y and id_x combinded

total_time['id'] = total_time['id_x'].where(
    total_time['id_x'] != -999, 
    total_time['id_y']
)
total_time = total_time.drop(columns=['id_x', 'id_y'])

#check result 
print(total_time.head())
print(total_time.tail())

#export data set as csv
#total_time.to_csv(r"C:\Users\julia\Documents\Uni_lokal\ML\exported\id_added.csv", sep = ";")

        Datum      Umsatz  Bewoelkung  Temperatur  Windgeschwindigkeit  \
0  2013-07-01  148.828353         6.0     17.8375                 15.0
1  2013-07-01  535.856285         6.0     17.8375                 15.0
2  2013-07-01  201.198426         6.0     17.8375                 15.0
3  2013-07-01   65.890169         6.0     17.8375                 15.0
4  2013-07-01  317.475875         6.0     17.8375                 15.0

   Wettercode  KielerWoche  Warengruppe         id
0        20.0       -999.0          1.0  1307011.0
1        20.0       -999.0          2.0  1307012.0
2        20.0       -999.0          3.0  1307013.0
3        20.0       -999.0          4.0  1307014.0
4        20.0       -999.0          5.0  1307015.0
            Datum  Umsatz  Bewoelkung  Temperatur  Windgeschwindigkeit  \
11159  2019-07-30  -999.0         7.0     20.7375                  8.0
11160  2019-07-30  -999.0         7.0     20.7375                  8.0
11161  2019-07-30  -999.0         7.0     20.7375                  8.0
11162  2019-07-30  -999.0         7.0     20.7375                  8.0
11163  2019-07-30  -999.0         7.0     20.7375                  8.0

       Wettercode  KielerWoche  Warengruppe         id
11159        61.0       -999.0          1.0  1907301.0
11160        61.0       -999.0          2.0  1907302.0
11161        61.0       -999.0          3.0  1907303.0
11162        61.0       -999.0          4.0  1907304.0
11163        61.0       -999.0          5.0  1907305.0

In [8]:
# add weekday column (monday = 0, sunday = 6)
total_time['Datum'] = pd.to_datetime(total_time['Datum'], format='%Y-%m-%d')
total_time['Wochentag'] = total_time['Datum'].dt.dayofweek
print(total_time.head())
print(total_time.tail())
total_time.to_csv(r"C:\Users\julia\Documents\Uni_lokal\ML\exported\total_weekdays.csv", sep = ";")

       Datum      Umsatz  Bewoelkung  Temperatur  Windgeschwindigkeit  \
0 2013-07-01  148.828353         6.0     17.8375                 15.0
1 2013-07-01  535.856285         6.0     17.8375                 15.0
2 2013-07-01  201.198426         6.0     17.8375                 15.0
3 2013-07-01   65.890169         6.0     17.8375                 15.0
4 2013-07-01  317.475875         6.0     17.8375                 15.0

   Wettercode  KielerWoche  Warengruppe         id  Wochentag
0        20.0       -999.0          1.0  1307011.0          0
1        20.0       -999.0          2.0  1307012.0          0
2        20.0       -999.0          3.0  1307013.0          0
3        20.0       -999.0          4.0  1307014.0          0
4        20.0       -999.0          5.0  1307015.0          0
           Datum  Umsatz  Bewoelkung  Temperatur  Windgeschwindigkeit  \
11159 2019-07-30  -999.0         7.0     20.7375                  8.0
11160 2019-07-30  -999.0         7.0     20.7375                  8.0
11161 2019-07-30  -999.0         7.0     20.7375                  8.0
11162 2019-07-30  -999.0         7.0     20.7375                  8.0
11163 2019-07-30  -999.0         7.0     20.7375                  8.0

       Wettercode  KielerWoche  Warengruppe         id  Wochentag
11159        61.0       -999.0          1.0  1907301.0          1
11160        61.0       -999.0          2.0  1907302.0          1
11161        61.0       -999.0          3.0  1907303.0          1
11162        61.0       -999.0          4.0  1907304.0          1
11163        61.0       -999.0          5.0  1907305.0          1

In [ ]:
#split data set into train, validation and test set
train_split = total_time[total_time["Datum"] <= "2017-07-31"]
validation_split = total_time[(total_time["Datum"] > "2017-07-31")
                          & (total_time["Datum"] <= "2018-07-31")]
test_split = total_time[(total_time["Datum"] > "2018-07-31")
                  & (total_time["Datum"] <= "2019-07-31")]
print(train.tail())
print(test.head())

          Datum      Umsatz  Bewoelkung  Temperatur  Windgeschwindigkeit  \
7488 2017-07-31  162.425333         2.0       22.75                  9.0
7489 2017-07-31  548.102447         2.0       22.75                  9.0
7490 2017-07-31  294.721801         2.0       22.75                  9.0
7491 2017-07-31   87.226479         2.0       22.75                  9.0
7492 2017-07-31  222.684256         2.0       22.75                  9.0

      Wettercode  KielerWoche  Warengruppe         id  Wochentag
7488      -999.0       -999.0          1.0  1707311.0          0
7489      -999.0       -999.0          2.0  1707312.0          0
7490      -999.0       -999.0          3.0  1707313.0          0
7491      -999.0       -999.0          4.0  1707314.0          0
7492      -999.0       -999.0          5.0  1707315.0          0
        id       Datum  Warengruppe
0  1808011  2018-08-01            1
1  1808021  2018-08-02            1
2  1808031  2018-08-03            1
3  1808041  2018-08-04            1
4  1808051  2018-08-05            1

In [ ]:
import statsmodels.formula.api as smf

#omit -999 clumnes for the model

train_clean = train_split.replace(-999, pd.NA)

#simple linear regression model with Wochentag as predictor
model = smf.ols(formula='Umsatz ~ Wochentag', data=train_clean).fit()
print(model.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                 Umsatz   R-squared:                       0.018
Model:                            OLS   Adj. R-squared:                  0.018
Method:                 Least Squares   F-statistic:                     138.4
Date:                Wed, 03 Dec 2025   Prob (F-statistic):           1.13e-31
Time:                        11:40:28   Log-Likelihood:                -47995.
No. Observations:                7493   AIC:                         9.599e+04
Df Residuals:                    7491   BIC:                         9.601e+04
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept    179.6411      3.039     59.117      0.000     173.684     185.598
Wochentag      9.9307      0.844     11.765      0.000       8.276      11.585
==============================================================================
Omnibus:                     3140.343   Durbin-Watson:                   2.419
Prob(Omnibus):                  0.000   Jarque-Bera (JB):            26027.885
Skew:                           1.798   Prob(JB):                         0.00
Kurtosis:                      11.392   Cond. No.                         6.82
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [77]:
# use model to predict Umsatz for test set
test_clean = test_split.replace(-999, pd.NA)
umsatz_pred_test = model.predict(test_clean)
print(umsatz_pred_test)

9334     199.502435
9335     199.502435
9336     199.502435
9337     199.502435
9338     199.502435
            ...
11159    189.571776
11160    189.571776
11161    189.571776
11162    189.571776
11163    189.571776
Length: 1830, dtype: float64